@import 'base.css';
@import '@videojs/themes/dist/forest/index.css';
@import '@videojs/themes/dist/fantasy/index.css';
@import '@videojs/themes/dist/city/index.css';

@tailwind components;

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(../fonts/Roboto-Regular-webfont.ttf) format("ttf");
    src: url(../fonts/Roboto-Regular-webfont.eot);
    src: url(../fonts/Roboto-Regular-webfont.eot?#iefix)
            format("embedded-opentype"),
        url(../fonts/Roboto-Regular-webfont.woff) format("woff"),
        url(../fonts/Roboto-Regular-webfont.ttf) format("truetype"),
        url(../fonts/Roboto-Regular-webfont.svg#robotoregular) format("svg");
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;

.spinner {
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#sub-menu {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

#sub-menu li a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: block;
    white-space: nowrap;
}

#sub-menu li a:hover {
    color: #ed8936;
}

.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    position: fixed;
    height: 100px;
}
